.cart {

	&#msCart th,
	&#msCart td {
		line-height: $line-height-base;
	}
}

.cart-contents {
	margin: 0;
	width: 100%;

	thead {
		background: #F9F9F9;

		th {
			margin: 0;
			font-size: 16px;
			text-align: center;
			font-family: $font-excond;
			text-transform: uppercase;
		}
	}

	th,
	td {
		padding: 15px 10px;
		border: 1px solid #ddd;
	}

	td {
		font-size: 14px;

		&.image {
			width: 12%;
		}

		&.details {
			position: relative;
			vertical-align: top;
			text-align: left !important;

			.details-vendor {
				font-size: 12px;
				color: #5b646e;
				margin-bottom: 5px;
			}

			a {
				color: #000;
				font-size: 14px;
			}

			.btn-clear {
				width: 30px;
				height: 30px;
				margin: 0;
				color: #fff;
				border: none;
				outline: none;
				cursor: pointer;
				font-size: 14px;
				line-height: 20px;
				padding: 5px 0;
				position: relative;
				background: $color-blue;
				display: block;
				text-align: center;
				text-transform: uppercase;
				touch-action: manipulation;
				@include border-radius(3px);
				@include transition(.1s);


				&:hover {
					color: #fff;
					background: $color-green;
				}

				&:active {
					top: 1px;
				}
			}
		}

		&.price {
			width: 25%;
			font-size: 16px;
			color: #E7214C;
			font-weight: 600;
			font-family: $font-cond;
		}

		&.count {
			width: 70px;
			text-align: center;
		}
	}

	.basket-count {

		color: #6d6d6d;
		display: inline-block;

		span {
			line-height: 26px;
			cursor: pointer;
			display: block;
		}

		input[type="text"] {
			width: 26px;
			height: 26px;
			outline: none;
			margin: 0 3px;
			padding: 4px 0;
			color: #2d2c27;
			font-size: 12px;
			line-height: 20px;
			text-align: center;
			display: inline-block;
			border: 1px solid #f0f0f0;

		}
	}

	&.cart-contents-footer {

		td {
			border-top: none;
			background: #F9F9F9;
			font-weight: 700;
			font-size: 18px;
			font-family: $font-excond;
			text-transform: uppercase;

			&:first-child {
				border-right: none;
				padding-left: 30px;
			}

			&:last-child {
				border-left: none;
				padding-right: 30px;
			}
		}
	}
}

.order-form {

	h4 {
		padding-bottom: 10px;
	}
}

@media (min-width: $screen-xs-min) {

	.cart-contents {

		td {

			&.details {
				padding-right: 45px;

				.btn-clear {
					top: 50%;
					right: 10px;
					margin-top: -15px;
					position: absolute;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {

	.cart-contents {

		td {

			&.price {
				width: 15%;
			}

			&.count {
				width: 12%;
			}

			&.details {


				.details-vendor {
					font-size: 14px;
				}

				a {
					font-size: 18px;
				}

			}

			&.price {
				font-size: 18px;
			}
		}

		.basket-count {

			span {
				display: inline;
			}
		}
	}
}