.footer {
	color: #a4a4a4;
	font-size: 14px;

	.footer-top {
		padding: 10px 0;
		background: #303030;

		ul {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;

			li {
				margin: 0 8px;
				padding: 8px 0;
				font-size: 18px;
				line-height: 20px;
				display: inline-block;
				font-family: $font-excond;
				text-transform: uppercase;

				a {
					color: #fff;
					text-decoration: none;

					&:hover {
						color: $color-blue;
					}
				}
			}
		}
	}

	.footer-bottom {
		padding-top: 5px;
		padding-bottom: 30px;
		background: #202020;
	}

	.footer-title {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		line-height: 20px;
		margin: 0 0 15px 0;
		padding-top: 25px;
		font-family: $font-excond;
		text-transform: uppercase;

		a {
			color: #fff;
			border-bottom: 1px solid #fff;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.copyright {

		li {
			margin-bottom: 5px;
		}

		a {
			color: #a4a4a4;
			text-decoration: none;
		}
	}

	.footer-contact {

		li {
			margin-bottom: 5px;
		}

		a {
			color: #a4a4a4;
			text-decoration: none;
		}
	}

	.social {
		font-size: 0;
		line-height: 0;

		li {
			width: 34px;
			height: 34px;
			background: $color-blue;
			float: left;
			color: #202020;
			font-size: 20px;
			line-height: 30px;
			padding: 2px 0;
			text-align: center;
			text-decoration: none;
			margin: 0 10px 10px 0;
			@include border-radius(3px);

			&:hover {
				background: #fff;
			}
		}

		a {
			color: #202020;

			&:hover {
				color: #202020;
			}
		}
	}

	.footer-payment {

		li {
			float: left;
			font-size: 60px;
			line-height: 60px;
			margin-right: 5px;
		}
	}

	@media (min-width: $screen-xs-min) {

		.col-sm-3 {
			width: 50%;
			float: left;
		}
	}

	@media (min-width: $screen-sm-min) {

		.col-sm-3 {
			width: 25%;
		}
	}
}