.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #595959;
	font-size: 14px;
	background: #fff;
	line-height: 20px;
	font-weight: 400;
	display: inline-block;
	font-family: $font-cond;
	border: 1px solid #c4c4c4;
	padding: 8px 10px;
	@include border-radius(3px);
	@include placeholder(#595959);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}


.red {

	.form-control {
		border-color: #ff0000;

		&.invert {
			border-color: #ff0000;
		}
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 20px;
}